/* PINGFANG */
@font-face {
  font-family: "PingFang SC bold";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/pf/PingFang-Mod-19.0d5e3-SC-Semibold.otf);
}
@font-face {
  font-family: "PingFang SC regular";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/pf/PingFang-Mod-19.0d5e3-SC-Regular.otf);
}
@font-face {
  font-family: "PingFang SC medium";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/pf/PingFang-Mod-19.0d5e3-SC-Medium.otf);
}
@font-face {
  font-family: "PingFang SC thin";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/pf/PingFang-Mod-19.0d5e3-SC-Thin.otf);
}
@font-face {
  font-family: "PingFang SC light";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/pf/PingFang-Mod-19.0d5e3-SC-Light.otf);
}
@font-face {
  font-family: "PingFang SC senmibold";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/pf/PingFang-Mod-19.0d5e3-SC-Semibold.otf);
}
/* RENWEN */
@font-face {
  font-family: "HYXinRenWenSongW";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/HYXinRenWenSongW.ttf);
}
/* YAHEI */
@font-face {
  font-family: "MCS Bold";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/MCSB.ttf);
}
@font-face {
  font-family: "MCS";
  src: url(https://sys-picgogo.oss-cn-beijing.aliyuncs.com/font/MCS.ttf);
}
